body {
    display: block;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    top: 15%;
    background: linear-gradient(to right, red , yellow);
}

h3 {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputContainer{
    display: flex;
    justify-content: center;
}
    #inputFieldGrocery{
        border-color: #f1f6ff;
        background-color: #f1f6ff;
        border-radius: 7px;
    }
        #submitButton{
            border-color: #74767b;
            background-color:#74767b; 
            
            border-radius: 12px;
            padding: 4px 17px 4px 17px;
        }

    .listContainer{
        display: flex;
        justify-content: center;
        height: 100%;
    }

    li {
        
    }

    .done {
        text-decoration: line-through;
    }